DJANGO_SECRET_KEY=
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1

SICRO_API_BASE_URL=https://web-production-5eeb7.up.railway.app
COMPOSITION_ENGINE_BASE_URL=http://localhost:8001
BUDGET_ENGINE_BASE_URL=http://localhost:8002

COMPOSITION_ENGINE_API_KEY=
BUDGET_ENGINE_API_KEY=
